.vs/MyLibrary/v14/.suo
MyLibrary.ClassOperations/bin/
MyLibrary.ClassOperations/obj/
MyLibrary.CustomCollections/bin/
MyLibrary.CustomCollections/obj/
MyLibrary.CustomIO/bin/
MyLibrary.CustomIO/obj/
MyLibrary.CustomMath/obj/
MyLibrary.CustomMath/bin/
MyLibrary.WPF/obj/
MyLibrary.WPF/bin/
*.user
FeatureTest/
MyLibrary.StringOperations/obj/
